/*home page background style*/
 body.landingbackground{
    background-image: url('./Images used/yellowpreg1.jpg');
    background-repeat:no-repeat;
    background-size: auto;
    position: absolute;
 }

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    list-style: none;
}
header, nav, section{
    display:block;
}

.Mumcol{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: skyblue;
}
.Trustcol{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #edbc67;
}
.carousel-item {
    height: 32rem;
    background: #3199aa;
    color: white;
    margin-top: 40px;
    position: relative;
    background-position: center;
    background-size: cover; 
     }
.back1{
    background-image: url(/Images/bakImage.png);
}
.back2{
    background-image: url(/Images/bluepreggi.png);
}
.back3{
    background-image:url(/Images/yellowpregi.png)
}
  .container{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    padding-bottom: 50px;
  }
  .img{
    border-radius: 8px;
    width:300px; 
    height:300px;
    float: right;
  }
 .backlog{
    background-image: url(
        /Images/Loginback.png
    );
    background-repeat: no-repeat;
 }
 .space{
    position:relative;
    padding: 2;
 }
:root{
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}
.sidebar-nav{
    width: var(--offcanvas-width)
}
@media(min-width:992px){
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100%- var(--topNavbarHeight));
    }
}
